<!DOCTYPE html>
<html lang="en" ng-app="reddmeetApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="theme-color" content="#3F51B5">
    <meta name="description" content="">
    <title>Reddmeet - Meet Redditors</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>

    <!--build:css assets/combined.css -->
    <link rel="stylesheet" href="assets/app.css">
    <link rel="stylesheet" href="assets/profile.css">
    <link rel="stylesheet" href="assets/user-card-list.css">
    <!-- endbuild -->

    <style>[ng-cloak], .ng-cloak { display: none !important; }</style>
  </head>

  <body ng-cloak layout="row" ng-controller="MainController as mainctrl">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar ng-click="mainctrl.go('/u/' + mainctrl.authuser.username)" md-ink-ripple class="md-tall md-hue-2">
        <img ng-src="{{ mainctrl.authuser.profile.pics[0].url }}">
        <h1>{{ mainctrl.authuser.username }}</h1>
        <span flex></span>
      </md-toolbar>

      <section layout="column" flex>
        <div flex="none">
          <md-content ng-repeat="item in mainctrl.sidebarItems" md-ink-ripple>
            <a ng-click="mainctrl.go(item.href)" layout="row" layout-align="start center">
              <div class="inset"><md-icon>{{ item.icon }}</md-icon></div>
              <div class="inset">{{ item.title }}</div>
            </a>
          </md-content>
        </div>
      </section>

			<h2 class="md-padding">
        Subreddits
      </h2>
  	  <div class="md-padding sr-list">
        <md-content md-ink-ripple flex ng-repeat="opt in mainctrl.authuser.subs">
          {{ opt }}
        </md-content>
      </div>
    </md-sidenav>

    <div flex role="main" layout="column" tabIndex="-1">
      <md-toolbar class="main-toolbar">
        <div class="md-toolbar-tools" tabIndex="-1">
          <md-button aria-label="open sidebar" class="md-icon-button" hide-gt-md ng-click="mainctrl.toggleSidebar()">
            <md-icon md-font-set="material-icons">menu</md-icon>
          </md-button>

          <h2 aria-label="open sidebar" hide-xs>reddmeet</h2>
          <span flex></span>

          <div class="md-toolbar-item docs-tools" layout="row">
            <md-button class="md-icon-button" ng-click="mainctrl.go('/results')" aria-label="upvotes inbox">
              <!-- <md-tooltip md-autohide md-direction="down">search results</md-tooltip> -->
              <md-icon>search</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="mainctrl.go('/upvotes')" aria-label="upvotes">
              <!-- <md-tooltip md-autohide md-direction="down">matches</md-tooltip> -->
              <md-icon>folder_special</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="mainctrl.go('/visitors')" aria-label="visited you">
              <!-- <md-tooltip md-autohide md-direction="down">visited you</md-tooltip> -->
              <md-icon>group</md-icon>
            </md-button>

            <md-menu>
              <md-button aria-label="overflow menu" class="md-icon-button" ng-click="mainctrl.openMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin>more_vert</md-icon>
              </md-button>

              <md-menu-content width="4">
                <md-menu-item ng-repeat="item in mainctrl.overflowItems">
                  <md-button ng-click="mainctrl.go(item.href)">
                    <md-icon md-menu-align-target>{{item.icon}}</md-icon>
                    {{item.title}}
                  </md-button>
                </md-menu-item>

                <md-menu-divider></md-menu-divider>

                <md-menu-item>
                  <md-button ng-href="https://reddmeet.com/static/privacy.html">
                    <md-icon md-menu-align-target>legal</md-icon>
                    privacy &amp; terms
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="mainctrl.go('/logout')">
                    <md-icon md-menu-align-target>exit_to_app</md-icon>
                    logout
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </md-toolbar>
      <md-content class="main-content" flex>
        <ng-view></ng-view>
      </md-content>
    </div>
  </body>

  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/moment/min/moment.min.js"></script>
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="../node_modules/angular-moment/angular-moment.min.js"></script>
  <script src="../node_modules/angular-route/angular-route.min.js"></script>
  <script src="../node_modules/angular-messages/angular-messages.min.js"></script>
  <script src="../node_modules/angular-material/angular-material.min.js"></script>

  <!--build:js appfile.js -->
  <script src="src/app.js"></script>
  <script src="src/controllers/MainController.js"></script>
  <script src="src/controllers/MapController.js"></script>
  <script src="src/controllers/MatchesControllers.js"></script>
  <script src="src/controllers/ProfileController.js"></script>
  <script src="src/controllers/ResultsController.js"></script>
  <script src="src/controllers/SettingsControllers.js"></script>
  <script src="src/controllers/SearchOptionDialogControllers.js"></script>
  <script src="src/controllers/SrController.js"></script>
  <script src="src/controllers/StatsController.js"></script>
  <script src="src/directives/FocusMe.js"></script>
  <script src="src/directives/SrChipComponent.js"></script>
  <script src="src/directives/UserListCardComponent.js"></script>
  <script src="src/services/MessagesFactory.js"></script>
  <script src="src/services/SearchResultsFactory.js"></script>
  <script src="src/services/UserFactory.js"></script>
  <script src="src/filter.js"></script>
  <!-- endbuild -->

</html>
