
html, body { background: #E9E9E9; }
a { color: inherit; text-decoration: inherit; }

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html { box-sizing: border-box; } 
*, *:before, *:after { box-sizing: inherit; }

/* Fix color inherit for icons */

md-icon { color: inherit; }

/* Toolbar area */

.main-toolbar { /* z-index: 1001; <-- nope! */ }

/* Sidenav area */

md-sidenav a {
  color: inherit;
  text-decoration: inherit;
}

md-sidenav > md-toolbar {
  height: 200px;
}

md-sidenav > md-toolbar h1 {
  font-size: 32px; 
  font-weight: normal;
  line-height: 48px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  text-transform: none;
}

md-sidenav > md-toolbar img {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.56);
  overflow: hidden;
  position: absolute; left: calc(50% - 50px); bottom: -48px;
  width: 100px; height: 100px;
}

md-sidenav > section {
  padding-top: 60px;
}

md-sidenav > md-toolbar, md-sidenav > section a {
  cursor: pointer;
  outline: 0;
}

/* Primary content area */

/* In a user-list view, this is added to a user's 
   picture when the user card is clicked, as an
   intro animation to view a user profile. */
.prepare-for-profile-view {
}

/* Typography support coming in 0.8.0 */


/* Select what Subreddits to include in search */
.active-sr-selector .sr-list {
    display: flex; 
    flex-wrap: wrap;
    font-size: 1rem;
}
.active-sr-selector .sr-list md-content {
    background: #3F51B5 /* -> Indigo500 */;
    color: white;
    cursor: pointer;
    display: inline-block;
    flex: 1 0 auto;
    margin: 0.5px; padding: 8px;
    text-align: center;
}
.active-sr-selector .sr-list md-content::not(.active) {
    opacity: 0.5;
    text-decoration: line-through;
}

/* Above results display main Search options */
.search-options-overview {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    padding: 8px 0;
}
.search-options-overview > div {
    color: rgba(0,0,0,0.56);
    font-size: 0;
}
.search-options-overview > div > md-content {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    outline: 0;
    padding: 8px;
}

/* Any list of users with a grid layout of cards */

.user-card-list {
  background-color: #EEE;
  min-height: 100vh;
}
md-card.user-list-card {
    width: 140px;  /* 2 cards per row on "mobile S" 320px screen */
    overflow: hidden;
    cursor: pointer;
    outline: 0;
}
md-card.user-list-card img {
    width: 140px; height: 140px;
}
md-card.user-list-card md-card-content {
    overflow: hidden;
}
md-card.user-list-card md-card-content h2 {
    font-size: 1rem; line-height: 1em;
    font-weight: bold;
    margin: 0; padding: 0;
}
md-card.user-list-card md-card-content p {
    font-size: 1rem; line-height: 1em;
    margin: 0; padding: 8px 0 0 0;
    white-space: nowrap;
}
md-card.user-list-card md-card-content p:nth-of-type(2) {
    font-size: 0.845rem;
}

@media (min-width:375px) {
  md-card.user-list-card { /* 2 cards per row on "mobile M" */
      width: 170px;
  }
  md-card.user-list-card img {
      width: 170px; height: 170px;
  }
}
@media (min-width:425px) {
  md-card.user-list-card { /* 2 cards per row on "mobile M" */
      width: 195px;
  }
  md-card.user-list-card img {
      width: 195px; height: 195px;
  }
}
@media (min-width:650px) { /* 3 cards per row on 640px */
  md-card.user-list-card {
      width: 200px;
  }
  md-card.user-list-card img {
      width: 200px; height: 200px;
  }
}


/* 

  User profile view 

*/

.user-profile {
}
.user-profile > .pnasl {
  position: relative;
  width: 100vw; height: 100vw;
}
.user-profile > .pnasl img {
  position: absolute; left: 0; top: 0;
  width: 100vw; height: 100vw;
}
.user-profile > .pnasl > .nasl {
  color: white;
  margin: 0; padding: 16px;
  position: absolute; left: 0; right: 0; bottom: 0;
  text-shadow: 0 0 3px rgba(0,0,0,1);
}
.user-profile > .pnasl .username {
  font-size: 34px;
}
.user-profile > .pnasl .age-gender {
  font-size: 20px;
}
.user-profile > .pnasl .location {
  color: white;
  font-size: 14px;
  padding: 16px;
  position: absolute; top: 0; right: 0;
  text-shadow: 0 0 3px rgba(0,0,0,1);
}
.user-profile > .pnasl .common-subs-count {
  /* box-shadow: inset 0 -40px 30px -15px rgba(121,134,203, 0.82); */ 
  /* -> Indigo500 // 63,81,181, 0.82 Indigo500 #3F51B5 */
  color: white;
  font-size: 14px;
  margin: -16px; padding: 16px; margin-top: -4px;
}
.user-profile > .pnasl .created {
  color: white;
  font-size: 14px;
  padding: 16px;
  position: absolute; top: 0; left: 0;
  text-shadow: 0 0 3px rgba(0,0,0,1);
}
.user-profile > .pnasl .profilefab {
  position: absolute; right: 16px; bottom: -32px;
}

@media (min-width:600px) {
  .user-profile {
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
  }
  .user-profile > .pnasl {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%; height: 300px;
    position: relative;
    margin: 1px 0 0 0; padding: 0;
  }
  .user-profile > .pnasl img {
    position: static; left: auto; top: auto;
    width: 300px; height: 300px;
  }
  .user-profile > .pnasl > .nasl {
    color: black;
    margin: 0; padding: 0;
    position: static; left: auto; top: auto;
    text-shadow: none;
  }
  .user-profile > .pnasl .username {
  }
  .user-profile > .pnasl .age-gender {
  }
  .user-profile > .pnasl .location {
    color: black;
    text-shadow: none;
  }
  .user-profile > .pnasl .common-subs-count {
    box-shadow: none;
    color: black;
    position: static; top: auto; right: auto;
    margin: 0; padding: 0;
  }
  .user-profile > .pnasl .created {
    color: black;
    font-size: 16px;
    padding: 16px;
    position: static; top: auto; left: auto;
    text-shadow: none;
  }
}


/*

  Subreddit link chips

*/

sr-chips {
  display: flex; 
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 1rem;
  opacity: 1;
  margin: 0; padding: 0;
}
sr-chips > sr-chip {
  color: white;
  cursor: pointer;
  display: block;
  flex: 1 0 auto;
  margin: 0.5px; padding: 0;
  opacity: 1;
  text-align: center;
}
sr-chips > sr-chip a {
  background-color: rgba(121,134,203, 1); /* #3F51B5 -> Indigo500 */
  color: inherit;
  display: block;
  font-size: 1rem; line-height: 1.5rem;
  margin: 0; padding: 8px;
  opacity: 1;
  position: relative;
  text-decoration: inherit;
  text-shadow: none;
}
sr-chips > sr-chip .banned-tag,
sr-chips > sr-chip .muted-tag,
sr-chips > sr-chip .mod-tag,
sr-chips > sr-chip .nsfw-tag {
  opacity: 0.75;
}
sr-chips > sr-chip .mod-tag {
  color: red;
}
sr-chips.smaller > sr-chip a {
  font-size: 1rem; line-height: 2rem;
}
sr-chips.smaller > sr-chip .mod-tag {
  font-size: 1rem; line-height: 2rem;
}
