@font-face { 
    font-family: 'Roboto'; 
    src: url('/app/assets/Roboto/Roboto-Regular.ttf') format('truetype'); 
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), 
       local('MaterialIcons-Regular'), 
       url('/app/assets/material-icons-v17.woff') format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html, body { background: #E9E9E9; }
a { color: inherit; text-decoration: inherit; }

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Fix color inherit for icons */

md-icon { color: inherit; }

/* Toolbar area */

.main-toolbar { /* z-index: 1001; <-- nope! */ }

/* Sidenav area */

md-sidenav a {
    color: inherit;
    text-decoration: inherit;
}

md-sidenav > md-toolbar {
    height: 200px;
}

md-sidenav > md-toolbar h1 {
    font-size: 32px;
    font-weight: normal;
    line-height: 48px;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-transform: none;
}

md-sidenav > md-toolbar img {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.56);
    overflow: hidden;
    position: absolute; left: calc(50% - 50px); bottom: -48px;
    width: 100px; height: 100px;
}

md-sidenav > section {
    padding-top: 60px;
}

md-sidenav > md-toolbar, md-sidenav > section a {
    cursor: pointer;
    outline: 0;
}


/* Select what Subreddits to include in search */
.sr-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}
.sr-list > md-content {
    background: #3F51B5 /* -> Indigo500 */;
    color: white;
    cursor: pointer;
    display: inline-block;
    flex: 1 0 auto;
    margin: 0.5px; padding: 8px;
    text-align: center;
    opacity: 1;
    text-decoration: none;
}
.sr-list > md-content.inactive {
    opacity: 0.5;
    text-decoration: line-through;
}

/* Above results display main Search options */
.search-options-overview {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    padding: 8px 0;
}
.search-options-overview > div {
    color: rgba(0,0,0,0.56);
    font-size: 0;
}
.search-options-overview > div > md-content {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    outline: 0;
    padding: 8px;
}


/*

  Subreddit link chips

*/

sr-chips {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 1rem;
  opacity: 1;
  margin: 0; padding: 0;
}
sr-chips > sr-chip {
  color: white;
  cursor: pointer;
  display: block;
  flex: 1 0 auto;
  margin: 0.5px; padding: 0;
  opacity: 1;
  text-align: center;
}
sr-chips > sr-chip a {
  background-color: rgba(121,134,203, 1); /* #3F51B5 -> Indigo500 */
  color: inherit;
  display: block;
  font-size: 1rem; line-height: 1.5rem;
  margin: 0; padding: 8px;
  opacity: 1;
  position: relative;
  text-decoration: inherit;
  text-shadow: none;
}
sr-chips > sr-chip .banned-tag,
sr-chips > sr-chip .muted-tag,
sr-chips > sr-chip .mod-tag,
sr-chips > sr-chip .nsfw-tag {
  opacity: 0.75;
}
sr-chips > sr-chip .mod-tag {
  color: red;
}
sr-chips.smaller > sr-chip a {
  font-size: 1rem; line-height: 2rem;
}
sr-chips.smaller > sr-chip .mod-tag {
  font-size: 1rem; line-height: 2rem;
}
