/**
 * User profile view
 */

.user-profile-loading {
    display: flex; justify-content: center;
    position: fixed; top: 150px; left: 0; right: 0;
}

.user-profile.fade-to-left {
    will-change: transform opacity;
    transition: transform 0.3s, opacity 0.2;
    transform: translateX(-100vw);
    opacity: 0;
}
.user-profile.fade-to-right {
    will-change: transform opacity;
    transition: transform 0.3s, opacity 0.2;
    transform: translateX(100vw);
    opacity: 0;
}

.user-profile {
    background-color: lightgray;
    min-height: calc(100vh - 56px);
    transition: 0.6s ease-in;
    overflow-x: hidden;
}
.user-profile > .pnasl {
    position: relative;
    width: 100vw; height: 100vw;
    transition: 0.5s ease-out;
}
.user-profile > .pnasl img {
    position: absolute; left: 0; top: 0;
    width: 100vw; height: 100vw;
}
.user-profile > .pnasl > .nasl {
    color: white;
    margin: 0; padding: 16px;
    position: absolute; left: 0; right: 0; bottom: 0;
    text-shadow: 0 0 3px rgba(0,0,0,1);
}
.user-profile > .pnasl .username {
    font-size: 34px;
}
.user-profile > .pnasl .age-gender {
    font-size: 20px;
}
.user-profile > .pnasl .location {
    color: white;
    font-size: 14px;
    padding: 16px;
    position: absolute; top: 0; right: 0;
    text-shadow: 0 0 3px rgba(0,0,0,1);
    transition: 0.75s ease-out;
}
.user-profile > .pnasl .common-subs-count {
    /* box-shadow: inset 0 -40px 30px -15px rgba(121,134,203, 0.82); */
    /* -> Indigo500 // 63,81,181, 0.82 Indigo500 #3F51B5 */
    color: white;
    font-size: 14px; line-height: 3rem;
    margin: 8px -16px -16px -16px; padding: 0 16px;
    background-color: rgba(0, 0, 0, 0.38);
}
.user-profile > .pnasl .created {
    color: white;
    font-size: 14px;
    padding: 16px;
    position: absolute; top: 0; left: 0;
    text-shadow: 0 0 3px rgba(0,0,0,1);
    transition: 0.75s ease-out;
}
.user-profile > .pnasl .profilefab {
    position: absolute; right: 16px; bottom: 14px;
}
.user-profile > .prev-next-up-down {
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    width: 100vw;
    background-color: lightgray;
}
.user-profile > .prev-next-up-down > div {
    flex-basis: 0 0 64px;
    width: 48px; height: 96px; line-height: 96px;
    color: rgba(0, 0, 0, 0.56);
    text-align: center;
}
.user-profile > .prev-next-up-down > div.prev-next:active {
    background-color: rgba(0, 0, 0, 0.12);
}
.user-profile > .prev-next-up-down > div.up-down {
    flex-grow: 1;
}
.user-profile > .prev-next-up-down > div.up-down > .btn {
    overflow: hidden;
    width: 80px; height: 80px; line-height: 80px;
    border-radius: 50%;
    color: white;
    display: inline-block;
    margin-top: 8px;
}
.user-profile > .prev-next-up-down > div.up-down.up > .btn {
    background-color: forestgreen;
}
.user-profile > .prev-next-up-down > div.up-down.down > .btn {
    background-color: darkred;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

@media (min-width:600px) {
  .user-profile {
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
  }
  .user-profile > .pnasl {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%; height: 300px;
    position: relative;
    margin: 1px 0 0 0; padding: 0;
  }
  .user-profile > .pnasl img {
    position: static; left: auto; top: auto;
    width: 300px; height: 300px;
  }
  .user-profile > .pnasl > .nasl {
    color: black;
    margin: 0; padding: 0;
    position: static; left: auto; top: auto;
    text-shadow: none;
  }
  .user-profile > .pnasl .username {
  }
  .user-profile > .pnasl .age-gender {
  }
  .user-profile > .pnasl .location {
    color: black;
    text-shadow: none;
  }
  .user-profile > .pnasl .common-subs-count {
    box-shadow: none;
    color: black;
    position: static; top: auto; right: auto;
    margin: 0; padding: 0;
  }
  .user-profile > .pnasl .created {
    color: black;
    font-size: 16px;
    padding: 16px;
    position: static; top: auto; left: auto;
    text-shadow: none;
  }
}


