
/**
 * Any list of users with a grid layout of cards
 */

.user-card-list {
  background-color: #EEE;
  min-height: 100vh;
  overflow: auto;
}
.user-card-list.results-list { /* main search results */
    min-height: auto;
    height: calc(100vh - 56px - 96px); /* -navbar -search options */
}
md-card.user-list-card {
    width: calc(50vw - 24px);
    max-width: 200px; 
    overflow: hidden;
    cursor: pointer;
    outline: 0;
}
md-card.user-list-card img {
    width: calc(50vw - 24px); height: calc(50vw - 24px);
    max-width: 200px; max-height: 200px;
}
md-card.user-list-card md-card-content {
    overflow: hidden;
}
md-card.user-list-card md-card-content h2 {
    font-size: 1rem; line-height: 1em;
    font-weight: bold;
    margin: 0; padding: 0;
}
md-card.user-list-card md-card-content p {
    font-size: 1rem; line-height: 1em;
    margin: 0; padding: 8px 0 0 0;
    white-space: nowrap;
}
md-card.user-list-card md-card-content p:nth-of-type(2) {
    font-size: 0.845rem;
}

@media (min-width:620px) { /* 3 cards per row on >620px */
    md-card.user-list-card {
        width: calc(33vw - 24px);
        max-width: 200px;
    }
    md-card.user-list-card img {
        width: calc(33vw - 24px); height: calc(33vw - 24px);
        max-width: 200px; max-height: 200px;
    }
}
