<md-content flex>
  <md-subheader class="md-no-sticky">
    <span>Recent chats</span>
  </md-subheader>
  
  <md-divider></md-divider>

  <div ng-show="vm.isLoading" class="user-profile-loading">
    <md-progress-circular md-mode='indeterminate'></md-progress-circular>
  </div>
  
  <md-list flex ng-if="vm.chats">
    <md-list-item class="md-2-line" ng-repeat="item in vm.chats track by $index" ng-click="mainctrl.go('/u/' + item.username)">
      <img ng-src="/s/{{ item.username }}.jpg" class="md-avatar" alt="{{ item.username }}">
      <div class="md-list-item-text" layout="column">
        <h3>{{ item.username }}</h3>
        <p><span am-time-ago="item.latest"></span></p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
