
<md-tabs md-selected="vm.tabs.selectedIndex" md-dynamic-height md-center-tabs md-stretch-tabs="auto" md-border-bottom class="md-primary" md-swipe-content md-no-pagination>

  <md-tab id="tab1" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
    <md-tab-label>
      <md-icon>inbox</md-icon>
      <span hide-xs>upvotes</span>
      <md-tooltip hide-gt-xs>upvotes</md-tooltip>
    </md-tab-label>
    <md-tab-body>
      <md-content>
        <md-subheader class="md-no-sticky">
          <span>Redditors who upvoted you</span>
        </md-subheader>
        <md-divider></md-divider>
        <md-list flex ng-if="vm.userLists.upvotes_recv.length">
          <md-list-item class="md-3-line" ng-repeat="item in vm.userLists.upvotes_recv track by $index" ng-click="mainctrl.go('/u/' + item.username)">
            <img ng-src="{{ item.profile.pic }}?{{ $index }}" class="md-avatar" alt="{{ item.username }}">
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.username }}</h3>
              <h4>{{ item.profile.age }}</h4>
              <p>{{ item.profile.accessed }}</p>
            </div>
          </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-item layout class="inset">
          <md-button layout layout-align="start center" class="md-primary">
            More
          </md-button>
        </md-item>
      </md-content>
    </md-tab-body>
  </md-tab>

  <md-tab id="tab2">
    <md-tab-label>
      <md-icon>folder_special</md-icon>
      <span hide-xs>matches</span>
      <md-tooltip hide-gt-xs>matches</md-tooltip>
    </md-tab-label>
    <md-tab-body md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
      <md-content>
        <md-subheader class="md-no-sticky">
          <span>Matches: you upvoted each other</span>
        </md-subheader>
        <md-divider></md-divider>
        <md-list flex ng-if="vm.userLists.matches.length">
          <md-list-item class="md-3-line" ng-repeat="item in vm.userLists.matches track by $index" ng-click="mainctrl.go('/u/' + item.username)">
            <img ng-src="{{ item.profile.pic }}?{{ $index }}" class="md-avatar" alt="{{ item.username }}">
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.username }}</h3>
              <h4>{{ item.profile.age }}</h4>
              <p>{{ item.profile.accessed }}</p>
            </div>
          </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-item layout class="inset">
          <md-button layout layout-align="start center" class="md-primary">
            More
          </md-button>
        </md-item>
      </md-content>
    </md-tab-body>
  </md-tab>

  <md-tab id="tab3">
    <md-tab-label>
      <md-icon>arrow_upward</md-icon>
      <span hide-xs>upvoted by you</span>
      <md-tooltip hide-gt-xs>upvoted by you</md-tooltip>
    </md-tab-label>
    <md-tab-body md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
      <md-content>
        <md-subheader class="md-no-sticky">
          <span>Upvoted by you</span>
        </md-subheader>
        <md-divider></md-divider>
        <md-list flex ng-if="vm.userLists.upvotes_sent.length">
          <md-list-item class="md-3-line" ng-repeat="item in vm.userLists.upvotes_sent track by $index" ng-click="mainctrl.go('/u/' + item.username)">
            <img ng-src="{{ item.profile.pic }}?{{ $index }}" class="md-avatar" alt="{{ item.username }}">
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.username }}</h3>
              <h4>{{ item.profile.age }}</h4>
              <p>{{ item.profile.accessed }}</p>
            </div>
          </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-item layout class="inset">
          <md-button layout layout-align="start center" class="md-primary">
            More
          </md-button>
        </md-item>
      </md-content>
    </md-tab-body>
  </md-tab>
</md-tabs>
