<div class="user-profile" ng-class="{'show-send-message': vm.isShowSendMessage}">
	<div class="pnasl">
		<div class="votebox"></div>
		<div class="pic" md-swipe-left="vm.goPrevNext('next')" md-swipe-right="vm.goPrevNext('prev')">
			<img src="/m/{{ vm.data.view_user.username }}.jpg">
		</div>
		<div class="nasl">
			<div class="username">{{ vm.data.view_user.username }}</div>
			<div class="age-gender">
				<span class="age">{{ vm.data.view_user.profile.age }}</span>,
				<span class="gender">{{ vm.data.view_user.profile.gender }}</span>
			</div>
			<div class="close-messager" ng-click="vm.closeMessenger()">
				<md-icon>close</md-icon>
			</div>
			<div class="common-subs-count" ng-click="vm.toggleRight()">
				{{ vm.data.common_subs.length }} subs in common
			</div>
		</div>
		<div class="location">
			<a ng-href="#/map" class="distance">
				{{ vm.data.view_user.profile.distance_km }}
				<md-icon>location_on</md-icon>
			</a>
		</div>
		<div class="created">
			<a ng-href="https://www.reddit.com/user/{{ vm.data.view_user.username }}" class="reddit-profile-link">
				<md-icon>link</md-icon>
				a redditor for
				<span am-time-ago="vm.data.view_user.profile.created | amParse:'YYYY-MM-DD'"></span>
			</a>
		</div>
		<!--
		<md-fab class="profilefab">
			<md-button ng-if="!vm.data.is_like" aria-label="menu" class="md-fab md-warn">
				<md-icon>arrow_upward</md-icon>
			</md-button>
			<md-button ng-if="vm.data.is_like" aria-label="menu" class="md-fab md-warn">
				<md-icon>mail_outline</md-icon>
			</md-button>
		</md-fab>
		-->
	</div>

	<div class="prev-next-up-down">
		<div class="prev-next prev" ng-click="vm.goPrevNext('prev')">
			<md-icon>arrow_left</md-icon>
		</div>
		<div ng-if="!vm.data.is_like && !vm.data.is_nope" class="up-down up">
			<div class="btn btn-up" ng-click="vm.doVote('up')">
				<md-icon>arrow_upward</md-icon>
			</div>
		</div>
		<div ng-if="!vm.data.is_like && !vm.data.is_nope" class="up-down down">
			<div class="btn btn-down" ng-click="vm.doVote('down')">
				<md-icon>arrow_downward</md-icon>
			</div>
		</div>
		<div ng-if="vm.data.is_like && !vm.data.is_match" class="up-down like">
			upvoted!
			<md-button class="md-raised md-primary" ng-click="vm.openMessenger()">send a message</md-button>
		</div>
		<div ng-if="vm.data.is_nope" class="up-down nope">
			downvoted :(
		</div>
		<div ng-if="vm.data.is_match" class="up-down match">
			<strong>A MATCH!</strong>
			<md-button class="md-raised md-primary" ng-click="vm.openMessenger()">send a message</md-button>
		</div>
		<div class="prev-next next" ng-click="vm.goPrevNext('next')">
			<md-icon>arrow_right</md-icon>
		</div>
	</div>

	<div ng-if="vm.data.is_match" class="md-padding match-explain">
		<strong>You upvoted each other!</strong><br>Send a message to say hi!
	</div>

	<div class="more md-padding">
		<md-content class="md-padding">
			{{ vm.data.view_user.profile.about }}
		</md-content>
	</div>

	<div class="messager">
		<form>
			<textarea ng-model="vm.messageText" placeholder="send a message" focus-me="vm.isTextboxFocus" ng-keyup="$event.keyCode == 13 && vm.doSendMessage()"></textarea>
			<div class="send-btn" ng-click="vm.doSendMessage()">
				<md-icon>send</md-icon>
			</div>
		</form>
		<div class="messages">
			<div class="message" ng-class="{authuser: msg.sender==vm.authuser.username}" ng-repeat="msg in vm.messages | orderBy:'-time' track by $index">
				<div class="text">{{ msg.text }}</div>
				<div class="time">
					<span am-time-ago="msg.time"></span>
					<span class="is-sent-flag" ng-if="!msg.is_sent">x</span>
					<span class="is-sent-flag" ng-if="msg.is_sent">OK</span>
					<span class="is-seen-flag" ng-if="!msg.is_seen">x</span>
					<span class="is-seen-flag" ng-if="msg.is_seen">OK</span>
				</div>
				<div class="username">{{ msg.sender }}</div>
			</div>
		</div>
	</div>

	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="profile-right" md-is-locked-open="$mdMedia('gt-lg')">
		<md-content>
			<div ng-click="vm.toggleRight()" style="line-height: 48px; padding-left: 16px;">
				your common subreddits:
			</div>
			<sr-chips>
				<sr-chip ng-repeat="sub in vm.data.common_subs" name="{{ sub.sr }}" subscribers="{{ sub.subscribers }}" subscribers-here="{{ sub.subscribers_here }}"></sr-chip>
			</sr-chips>

			<div ng-click="vm.toggleRight()" style="line-height: 48px; padding-left: 16px;">
				other subreddits:
			</div>
			<sr-chips>
				<sr-chip ng-repeat="sub in vm.data.not_common_subs" name="{{ sub.sr }}" subscribers="{{ sub.subscribers }}" subscribers-here="{{ sub.subscribers_here }}"></sr-chip>
			</sr-chips>
		</md-content>
	</md-sidenav>
</div>