<div class="user-profile">

	<div class="pnasl">
		<div class="votebox"></div>
		<img src="/m/{{ vm.data.view_user.username }}.jpg">
		<div class="nasl">
			<div class="username">{{ vm.data.view_user.username }}</div>
			<div class="asl">
				<span class="age">{{ vm.data.view_user.profile.age }}</span>
				<span class="gender">{{ vm.data.view_user.profile.gender }}</span>
				<span class="distance">{{ vm.data.view_user.profile.distance_km }}</span>
			</div>
		</div>
	</div>

	<sr-chips>
		<sr-chip ng-repeat="sub in vm.data.common_subs" name="{{ sub.sr }}" subscribers="{{ sub.subscribers }}" subscribers-here="{{ sub.subscribers_here }}"></sr-chip>
	</sr-chips>

	<div class="title">Other subs</div>
	<sr-chips>
		<sr-chip ng-repeat="sub in vm.data.not_common_subs" name="{{ sub.sr }}" subscribers="{{ sub.subscribers }}" subscribers-here="{{ sub.subscribers_here }}"></sr-chip>
	</sr-chips>

</div>