<md-content class="md-padding" layout="column" layout-align="center">
    <p>Keep your profile up to date. Your date of birth is never public, only your age and zodicas appear on your profile.</p>
</md-content>

<md-divider></md-divider>

<md-list flex>
    <md-list-item ng-click="vm.open('herefor', $event)">
        <h3>here for</h3>
        <p style="text-align: right">{{ vm.authuser.profile.herefor }}</p>
    </md-list-item>

    <md-list-item ng-click="vm.open('gender', $event)">
        <h3>gender</h3>
        <p style="text-align: right">{{ vm.authuser.profile.sex }}</p>
    </md-list-item>

    <md-list-item ng-click="vm.open('dob', $event)">
        <h3>birthday</h3>
        <p style="text-align: right">{{ vm.authuser.profile.dob }}</p>
    </md-list-item>

    <md-list-item ng-click="vm.open('about', $event)">
        <h3>about you</h3>
        <p style="text-align: right">{{ vm.authuser.profile.about }}</p>
    </md-list-item>
</md-list>
