<md-tabs md-selected="tabs.selectedIndex" md-dynamic-height md-center-tabs md-stretch-tabs="auto" md-border-bottom class="md-secondary" md-swipe-content md-no-pagination>

  <md-tab id="tab1">
    <md-tab-label>
      <md-icon>people</md-icon>
      <span hide-xs>visited you</span>
      <md-tooltip hide-gt-xs>visited you</md-tooltip>
    </md-tab-label>
    <md-tab-body md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
      <md-content flex>
        <md-subheader class="md-no-sticky">
          <span>Redditors who visited your profile</span>
        </md-subheader>
        <md-divider></md-divider>
        <md-list flex ng-if="vm.userLists.visitors.length">
          <md-list-item class="md-3-line" ng-repeat="item in vm.userLists.visitors track by $index" ng-click="mainctrl.go('/u/' + item.username)">
            <img ng-src="/s/{{ item.username }}.jpg" class="md-avatar" alt="{{ item.username }}">
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.username }}</h3>
              <h4>{{ item.profile.age }}</h4>
              <p>{{ item.profile.accessed }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-body>
  </md-tab>

  <md-tab id="tab2">
    <md-tab-label>
      <md-icon>people_outline</md-icon>
      <span hide-xs>you visited</span>
      <md-tooltip hide-gt-xs>you visited</md-tooltip>
    </md-tab-label>
    <md-tab-body md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
      <md-content flex>
        <md-subheader class="md-no-sticky">
          <span>You visited these profiles</span>
        </md-subheader>
        <md-divider></md-divider>
        <md-list flex ng-if="vm.userLists.visits.length">
          <md-list-item class="md-3-line" ng-repeat="item in vm.userLists.visits track by $index" ng-click="mainctrl.go('/u/' + item.username)">
            <img ng-src="/s/{{ item.username }}.jpg" class="md-avatar" alt="{{ item.username }}">
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.username }}</h3>
              <h4>{{ item.profile.age }}</h4>
              <p>{{ item.profile.accessed }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-body>
  </md-tab>

</md-tabs>
