<md-tabs md-selected="tabs.selectedIndex" md-dynamic-height md-center-tabs md-stretch-tabs="auto" md-border-bottom class="md-primary" md-swipe-content md-no-pagination>

  <md-tab id="tab1" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
    <md-tab-label>
      <md-icon>people</md-icon>
      <span hide-xs>visited you</span>
      <md-tooltip hide-gt-xs>visited you</md-tooltip>
    </md-tab-label>
    <md-tab-body>
      <md-content layout-padding>
        <p>upvotes inbox</p>
        <p>{{vm.title}}</p>
        <p>User results list. Use for all user list views. Its {{vm.ts}} ...</p>
        <md-divider></md-divider>
        <md-item layout class="inset">
          <md-button layout layout-align="start center" class="md-primary">
            More
          </md-button>
        </md-item>
      </md-content>
    </md-tab-body>
  </md-tab>

  <md-tab id="tab2">
    <md-tab-label>
      <md-icon>people_outline</md-icon>
      <span hide-xs>visits</span>
      <md-tooltip hide-gt-xs>visit history</md-tooltip>
    </md-tab-label>
    <md-tab-body md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
      <md-content flex layout-padding>
        <p>Yoyoyoyo...</p>
      </md-content>
    </md-tab-body>
  </md-tab>

</md-tabs>
